body{
    background-color: black;
    display: grid;

}


#button_submit{
    color: black;;
    background-color: green;
}

#jo{
    width: 392px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrapper{
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}





